<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    {{ title }} !
  </h1>

</div>

<label>Nouveau TODO <input type="search" #newTodo (keyup.enter)="addTodo(newTodo.value)"></label><button (click)="addTodo(newTodo.value)">+</button>

<div>
  <ul>
    <!--<li *ngFor="let todo of todos" (dblclick)="updateTodo(todo)">-->
      <!--{{todo}}-->
      <!--<button (click)="delTodo(todo)">x</button>-->
    <!--</li>-->
    <app-todo-list-item todos="'todos"></app-todo-list-item>
  </ul>
</div>