<div class="card" *ngIf="todo">
    <div class="card-body">
        <h5 class="card-title" [id]="todo.id" (dblclick)="startEdit()" *ngIf="! editableMode"> {{todo.nom}} </h5>
        <div class="edittodo" *ngIf="editableMode">
            <input type="text" [(ngModel)]="todo.nom"  (blur)="finishEdit()"/>
            <button (click)="finishEdit()" class="btn btn-success">O</button>
        </div>

        <button (click)="todosService.delTodo(todo.id)" class="btn btn-danger">X</button><!--
        --><a class="btn btn-secondary" href="/todo/{{todo.id}}">Go</a>

    </div>
</div>