/* You can add global styles to this file, and also import other style files */
*{
    font-family: Roboto, sans-serif;
    color: grey;
}

body {
    width: 50%;
    margin: 20px auto auto auto;
}

.btn-success, .btn-danger, .btn-secondary {
    color: white !important;
    font-weight: bold;
}

div.card {
    margin-bottom: 30px;
}

div.edittodo input, div.edittodo button {
    display: inline;
}

div.edittodo input {
    width: 70%;
    margin-right: 5%;
}

div.edittodo button {
    width: 20px;
    height: 20px;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
}

i {
    color: white !important;
}