/* You can add global styles to this file, and also import other style files */
*{
    font-family: Roboto, sans-serif;
    color: grey;
}

body {
    width: 50%;
    margin: 20px auto auto auto;
}

.btn-danger {
    color: white !important;
    font-weight: bold;
}

div.card {
    margin-bottom: 10px;
}